<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PiFace REST interface test page</title>
</head>

<body ng-app="piface-demo" ng-controller="PiFaceCtrl as pi">
  <h1>PiFace REST interface test page</h1>

  <section id="outputs">
    <button ng-repeat="output in outputs" ng-click="output.setTo(!output.value)"> Out {{output.number}}<br/>
    {{output.value ? "on" : "off"}}
    </button>
  </section>

  <section id="outputs-batch">
    <button ng-click="randomHigh()">random</button>
    <br/>
    <button ng-click="clearOutputs()">clear</button>
  </section>

  <section id="inputs">
    {{inputs | json}}
  </section>

  <section id="input-display">
    <div ng-repeat="input in inputs.state track by $index" ng-show="input">Input {{$index}} is on</div>
  </section>


  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/primus/primus.js"></script>
  <script type="text/javascript" src="bower_components/angular-primus/angular-primus.js"></script>
  <script type="text/javascript" src="js/piface.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>
</body>

</html>
